<header class="p-3 border-bottom">
  <div class="container-1">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
              <img src="../../assets/Happy.jpg" style="border-radius: 60%;" width="38" height="38" alt="LSC">
          </a>
          <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
              <li class="liClass" style="margin-left: 4rem; margin-right: 2rem;"><a href="" [routerLink]="['/home']" routerLinkActive="router-link-active" class="nav-link px-2 ">Home</a></li>
              <li class="liClass" style="margin-right: 2rem;"><a href="" [routerLink]="['/demo']" routerLinkActive="router-link-active" class="nav-link px-2 ">Trails</a></li>
              <li class="liClass"><a href="" [routerLink]="['/demo/chat-with-support-bot']" routerLinkActive="router-link-active" class="nav-link px-2 ">Chat Helper</a></li>
          </ul>

          <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
              <!-- <input type="search" class="form-control" placeholder="Search..." aria-label="Search"> -->
          </form>

          <div class="dropdown text-end">
              <!-- <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                  <img src="../../assets/Mr._Smiley_Face.svg.png" alt="mdo" width="32" height="32" class="rounded-circle">                
              </a> -->
              <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
                  <li><a class="dropdown-item">Login</a></li>
              </ul>
          </div>
      </div>
  </div>
</header>
