
.person {
    font-style: italic;
    font-weight: bold;
    color: purple;
    background-color: rgba(218, 227, 235, 1) ;
    padding: 2rem 2rem;
}

.bot {    
    font-weight: bold; 
    color: darkgreen;
    background-color: rgba(155, 188, 216 , 1) ;
    padding: 2rem 2rem;
}

.frame-box{
    border: solid 1px rgb(247, 246, 244); 
    padding: 20px;
    height: 50vh;
    overflow-y: scroll
}


.padding{
    padding: 5px;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
    background-image: url("https://static.wixstatic.com/media/5cfe14_30977ca5f4d04cc2a8977a980baf19a9~mv2.gif");
    background-size: cover; /* Ensures the image covers the entire container */
    background-position: center; /* Centers the image within the container */
    background-repeat: no-repeat; /* Prevents the image from repeating */
}

.card {
    width: 70%;
    height: 70vh;
    background-color: transparent   ;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

/* Add any additional styling for card content here */
.card-content {
    opacity: 0.7;
    padding: 20px;
}

.textCSS{
    display: flex;
}

