<div class="container">
    <div class="row">
        <div class="col-md-12">
            <br>
                <div class="card">
                    <h4 class="card-header center text-primary">Please start the conversation with AI Chat</h4>
                    <div class="card-body">
                        <h6 class="card-title text-success center">AI Chat is Active <span><img width="30" height="30" style="margin-bottom:5px" src="../../assets//twitter-verified-check-mark.gif"></span> </h6>
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-8">
                                <div class="frame-box" style="max-height: 300px; overflow-y: auto;">
                                    <div *ngFor="let item of chatConversation">
                                        <p class="card-text padding" [ngClass]="item.cssClass">
                                            {{item.person}} :  {{getText(item.response)}}                                                                                                            
                                        </p>
                                        
                                    </div>
                                    <div><img src="../../assets/ZNeT.gif" *ngIf="showSpinner" width="50px" height="50px"></div>

                                </div>
                                <br>
                                        <textarea row="3" cols="15" class="form-control" [(ngModel)]="promptText" placeholder="Start by asking what you are looking for"></textarea>
                                        <br>
                                            <button [disabled]="promptText === ''" class="btn btn-primary push-right" (click)="checkResponse()">Send</button>
                                    </div>
                                    <div class="col-md-2">
                                      
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            
