.container-fluid {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

h1 {
    color: #fff;
    font-size: 6rem;
}

.sld-height {
    max-height: 600px;
}

html, body {
    height: 100%;
    width: 100%;
}

#containercss {
    height: 100vh;
    width: 100%;
    color: white;
    background-image: url("https://static.wixstatic.com/media/5cfe14_30977ca5f4d04cc2a8977a980baf19a9~mv2.gif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.buttonClass {
    gap: 2;
    text-align: center;
    display: flex;
    justify-content: flex-end;
}

button {
    transition: all .5s ease;
    color: #070606;
    border: 2px solid white;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    font-size: 2rem;
    background-color: white;
    outline: none;
    border-radius: 20px;
    font-family: Roboto, "Helvetica Neue", Arial, sans-serif;
    margin-left: 3%;
    padding: 2.5rem 2rem;
}

button:hover {
    color: #fff;
    background-color: #070707;
}

.homefotter {
    margin-top: 5rem;
}

.button-secondary {
    background-color: #1b1a1a;
    color: #faf5f5;
    border: 1px solid #f8f5f5;
}

.button-secondary:hover {
    color: #030303;
    background-color: #f8f4f4;
}

/* Media Queries for Responsive Design */

@media (max-width: 768px) {
    h1 {
        font-size: 4rem;
    }

    .buttonClass {
        justify-content: center;
    }

    button {
        margin-left: 0;
    }
}
