
<div class="container-fluid" id="containercss">
  
<img class="back-video" width="100%" height="100%" src="../../assets/siri.gif">

  <h1 style="color: white;text-align: center;">AI Chat Helper powered by OpenAI</h1>
  <div>
    <br>
    <h3 style="font-family: sans-serif;color: orange; text-align: center;">OpenAI is an AI research and deployment company. It designed a helper that generate human-like text based on the input it receives.</h3>
  </div> <br>

  <div style="margin-top:40rem;text-align: center;">
    <button [routerLink]="['/demo']" role="button">LIVE DEMO <span>&#10142;</span></button> <br><br>
    <p style="font-size: larger;color: orange;">
      To experience the power of AI chat helper
    </p>
  </div>
</div>


